# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
dist/wp-admin/
dist/wp-content/index.php
dist/wp-content/languages
dist/wp-content/plugins/index.php
dist/wp-content/themes/index.php
dist/wp-includes/
# dist/index.php
dist/license.txt
dist/readme.html
# dist/wp-*.php
# dist/xmlrpc.php

# # Configuration
# dist/wp-config.php

# # Example themes
dist/wp-content/themes/twenty*/

# # Example plugin
dist/wp-content/plugins/hello.php

# # Uploads
dist/wp-content/uploads/

# # Log files
*.log

# htaccess
# dist/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# Custom
.history
*.zip
.DS_Store